form(action="/books/add", method="POST")
  label input Title &nbsp
    input(type="text", name="title")
  div
  br
  label input Describe &nbsp
    input(type="text", name="describe")
  div
  br
  button Add Book