form(action="/users/add", method="POST")
  label input userName &nbsp
    input(type="text", name="name")
  div
  br
  label input CMND &nbsp
    input(type="text", name="CMND")
  div
  br
  button Add User