extends ./layouts/Main

block content  
  h1 ListBooks
  ul 
    each book in listBook
      li=  book.title

  a(href='/books/add') Add Book
  br
  a(href='/books/delete') Delete Book
  br
  a(href='/books/update') Update Book
  br