h1 ListTransactions
ul 
  each transaction in listTransactions
    li=  'Userid= ' + transaction.userid + ' | ' + 'Bookid= ' + transaction.bookid
    form(action="/transactions/" + transaction.id + "/complete", method="POST")
      button isComplete 
    
a(href='/transactions/create') Create Transaction
br
