extends ./layouts/Main

block content
  h1 UPDATE BOOK
  form(action="/books/update", method="POST")
    label oldTitle &nbsp
      input(type="text", name="title")
    div
    br
    label newTitle &nbsp
      input(type="text", name="newtitle")
    div
    br
    button UPDATE